/* Mobile sized stylesheets. Call this after desktop and tablet. */
@media only screen and (max-width: 640px) {
	
	@import "global";
	
	
	.primary-header {
		width: 100%;
		min-width:  300px;
		height: 35px;
		
		
		h2 {
			font-size: 14px;
			line-height: 35px;
		}
		
		a {
			color:  #fff;
		}
		
		.slogan {
			display:  none;
		}
		
		.col-half {
			float:  none;
			width:  100%;
			text-align:  right;
		}
		
	}
	
	.arrow-block {
		position:  absolute;
		background:  url("../img/arrow-up-right-mobile.png") right 15px no-repeat;
		margin-top:  -60px;
		right:  15%;
	}
	
	.content-break {
		margin-top:  30px;
		background:  url("../img/content-break-mobile.png") center center no-repeat;
	}
	
	.content-after-break {
		padding:  30px 0 0 0!important;
	}
	
	
	
	.content-contact {
		padding:  60px 0 20px 0!important;
		
		.triangle {
			width: 0; 
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid $white;
			margin:  -60px auto 40px auto;
		}
		
		.col, .col-half {
			float:  none;
			width:  100%!important;
			
			input {
				display:  block;
				margin:  0 0 1em 0;
				font-size:  13px!important
			}
			
			
		}

		
		.primary-footer {
			margin:  4em 0 0 0;
			line-height:  24px;
			
			
			ul.social {
				margin:  1em 0 0 0;
				padding:  0;
				
				li {
					display:  inline-block;
					list-style-type:  none;
					width:  32px;
					height:  32px;
					margin-right:  9px;	
				}
				
				li:last-of-type, li.last {
					margin-right:  0!important;
				}
			}
		}
	}
	
	.optin-block {
		padding-top:  20px!important;
	}
	
	.content-block {
		padding: 60px 0 0px 0;
		
		.contact {
			h2 {
				font-size:  20px;
				text-align:  center;
				margin-bottom: 1em;
			}
			
			input, textarea {
				font-size:  13px;
			}
			
			.form-submit {
				font-size:  14px!important;
			}
			
			.sidebar-form {
				margin-top:  40px;
				
				.col-half {
					width:  48.4%;
					margin-right:  3%;
				}
			}
		}
		
		
		.headline {
			
			padding-left:  0!important;
			
			h1 {
				font-size: 20px;
				line-height: 26px;
			}
			
			p {
				font-size: 14px;
			}
		}
		
		.why-emarketeer {
			h2 {
				font-size:  18px;
				line-height:  24px;
				text-align:  center;
				margin-bottom: 1em;
				
			}
		}
		
		.arrow-down {
			margin:  0;
			width:  100%;
			height:  41px;
			background:  url("../img/arrow-down-mobile.png") center center no-repeat;
		}
		
		.more-clients {
			text-align:  center;
			margin:  20px 0 50px 0;
			
			h3 {
				font-size: 24px;
				margin-bottom:  1em;
			}
			
			img {
				width:  100%;
			}
		}
		
		.testimonials {
			
		
			
			.testimonial-wrapper {
				margin-top:  40px;
				height:  350px;
				overflow:  hidden;
			}
			
			.testimonial {
				
				.col-quarter {
					float: none;
					width:  40%;
					margin:  0 auto 1em auto;
				}
				
				.col-three-quarters {
					float:  none;
					width:  100%;
					margin:  0 auto;
				}
				
				img {
					@include borderradius(15px);
					width:  100%;
				}
				
				.description {
					text-align:  left;
					font-size:  14px;
					
					blockquote {
						margin:  0;
						padding-left:  0;
					}
					
				}
			}
			
			.testimonial-control {
				
				text-align:  center;
				
				a {
					font-size:  82px;
				}
				
			}
		}
		
		
		
		.optin-info {
			
			h2 {
				font-size: 20px;
				line-height: 24px;
			}
			
			p.small {
				font-size: 10px;
			}
			
			.col {
				float:  none;
				width:  100%;
			}
			
			ul {	
				margin: 2em 0 1em 0;
				padding:  0;
				font-size:  16px;
				
				li {
					list-style-type:  none;
					min-height:  42px;
					line-height:  20px;
					padding-left:  46px;
					background:  url("../img/red-tick-mobile.png") left top no-repeat;
					width:  80%;
					margin:  0 auto;
				}
			}
			
			.sidebar-triangle {
				display:  none;
			}
			
			.sidebar-form {
				padding:  15px;
				@include borderradius(8px);
				
				input, textarea {
					padding:  0.75em;
					font-size:  13px;
					display:  block;
					margin-bottom:  1em;
				}
				
				textarea {
					height:  160px;
					resize: none;
				}
				
				input.form-submit {
					font-size:  14px;
				}
				
				.row {
					margin-bottom:  1em;
				}
				
				.last-row {
					margin-bottom:  0;
				}
				
			}
			
		}
		
	}
	
	strong, b {
		font-weight:  400!important;
	}
	
	.row {
		margin-bottom:  1.5em;
	}
				
	.row:last-of-type {
		margin-bottom:  0;
	}
	
	
	.red {
		color: $red;
	}
	
	.col {
		float: left;
	}
	
	.col-half {
		width: 47%;
		margin-right: 6%;
	}
	
	.col-quarter {
		width:  22%;
		margin-right:  3%;
	}
	
	.col-three-quarters {
		width:  73%;
		margin-left:  2%;
	}
	
	.col-last, .col:last-of-type {
		margin-right:  0!important;
	}
	
	.col-logo {
		width: 25%;
		padding-left: 1%;
		padding-top:  5%;
		
		img {
			width:  80%;
			padding-bottom:  50px;
		}
		
	}
	
	.col-two-thirds {
		width: 66%;
	}
	
	.text-right {
		text-align: right;
	}
	
	.row:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
	
	.wrapper {
		width: 90%;
		margin: 0 auto;
		padding: 0 5%;
	}
	
	.scrollup {
		position:  fixed;
		display:  none;
		top:  75%;
		right:  5%;
		width:  48px;
		height:  48px;
		margin-top:  -24px;
		background:  #000;
		@include borderradius(7px);
		cursor:  pointer;
	
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		-moz-opacity: 0.5;
		-khtml-opacity: 0.5;
		opacity: 0.5;
		
		.scroll-triangle {
			width: 0; 
			height: 0; 
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #fff;
			margin:  18px auto 0 auto;
		}
	}
	
}
