@import "global";

body {
	margin: 0;
	@include fontface-ubuntu(300);
	color: $grey;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
	margin: 0;
}

.primary-header {
	width: 100%;
	min-width: 1000px;
	height: 50px;
	color: $white;
	@include gradient-background($grey,$darkgrey);
	
	h2 {
		font-size: 16px;
		line-height: 50px;
	}
	
}

.arrow-block {
	position:  absolute;
	background:  url("../img/arrow-up-right.png") right top no-repeat;
	width:  50px;
	height:  63px;
	margin-left:  470px;
	margin-top:  -80px;
}

.content-break {
	margin-top:  80px;
	height:  32px;
	background:  url("../img/content-break.png") center center no-repeat;
}

.content-after-break {
	padding:  60px 0 0 0!important;
}


.content-contact {
	@include gradient-background($grey,$darkgrey);
	color:  $white;
	padding:  80px 0 40px 0!important;
	
	.triangle {
		width: 0; 
		height: 0; 
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-top: 30px solid $white;
		margin:  -80px auto 60px auto;
	}
	
	.primary-footer {
		margin:  4em 0 0 0;
		
		line-height:  24px;
		
		
		.copyright {
			font-size:  11px;
			color:  #aaa;
		}
		
		.col-three-quarters {
			@include borderbox();
			padding-right:  4em;
		}
		
		ul.social {
			margin:  1em 0 0 0;
			padding:  0;
			
			li {
				display:  inline-block;
				list-style-type:  none;
				width:  32px;
				height:  32px;
				margin-right:  9px;	
			}
			
			li:last-of-type, li.last {
				margin-right:  0!important;
			}
		}
	}
}

.content-block {
	padding: 100px 0 0px 0;
	
	.contact {
		h2 {
			font-size:  32px;
		}
		
		@include contactform();
		
		.sidebar-form {
			margin-top:  40px;
			
			.col-half {
				width:  48.4%;
				margin-right:  3%;
			}
		}
	}
	
	
	.headline {
		
		h1 {
			font-size: 52px;
			line-height: 65px;
		}
		
		p {
			font-size: 22px;
		}
	}
	
	.why-emarketeer {
		h2 {
			font-size: 34px;
			line-height: 44px;
			text-align:  right;
		}
	}
	
	.arrow-down {
		margin:  20px 0;
		width:  100%;
		height:  63px;
		background:  url("../img/arrow-down-left.png") 600px center no-repeat;
	}
	
	.more-clients {
		text-align:  center;
		margin:  20px 0 80px 0;
		
		h3 {
			font-size: 34px;
			margin-bottom:  1em;
		}
	}
	
	.testimonials {
		
		
		.testimonial-wrapper {
			margin-top:  50px;
			height:  215px;
			overflow:  hidden;
		}
		
		.testimonial {
			img {
				@include borderradius(20px);
			}
			
			.description {
				text-align:  right;
				font-size:  20px;
				
				blockquote {
					margin:  0;
					padding-left:  40px;
					font-style:  italic;
				}
				
			}
		}
		
		.testimonial-control {
			
			text-align:  right;
			
			a {
				color:  $grey;
				text-decoration: none;
				font-size:  58px;
			}
			
			a.active {
				color:  $red;
			}
			
		}
	}
	
	.optin-info {
		
		h2 {
			font-size: 34px;
			line-height: 44px;
		}
		
		p.small {
			font-size: 14px;
		}
		
		ul {
			margin: 1em 0;
			padding:  0;
			font-size:  20px;
			
			li {
				list-style-type:  none;
				line-height:  45px;
				padding-left:  60px;
				background:  url("../img/red-tick.png") left top no-repeat;
			}
		}
		
		.sidebar-triangle {
			position:  absolute;
			width:  0;
			height:  0;
			border-top:  20px solid transparent;
			border-bottom:  20px solid transparent;
			border-right:  20px solid $grey;
			z-index:  -1;
			margin-left:  -20px;
			margin-top:  70px;
		}
		
		.sidebar-form {
			@include gradient-background($grey,$darkgrey);
			@include borderbox();
			@include borderradius(10px);
			padding:  25px;
			color:  $white;
			
			@include contactform();
			
		}
		
	}
	
}

strong, b {
	font-weight:  400!important;
}

.row {
	margin-bottom:  1.5em;
}
			
.row:last-of-type {
	margin-bottom:  0;
}


.red {
	color: $red;
}

.col {
	float: left;
}

.col-half {
	width: 47%;
	margin-right: 6%;
}

.col-quarter {
	width:  22%;
	margin-right:  3%;
}

.col-three-quarters {
	width:  73%;
	margin-left:  2%;
}

.col-last, .col:last-of-type {
	margin-right:  0!important;
}

.col-logo {
	width: 32%;
	padding-left: 1%;
}

.col-two-thirds {
	width: 66%;
}

.text-right {
	text-align: right;
}

.row:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}

.wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

.scrollup {
	position:  fixed;
	display:  none;
	top:  75%;
	right:  5%;
	width:  64px;
	height:  64px;
	margin-top:  -32px;
	background:  #000;
	@include borderradius(10px);
	cursor:  pointer;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	
	.scroll-triangle {
		width: 0; 
		height: 0; 
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 12px solid #fff;
		margin:  24px auto 0 auto;
	}
}